<div class="slider-container mb-3">
  <i
    (click)="prev()"
    class="bi bi-chevron-left"
    [ngClass]="{
      'text-primary': currentIndex > 0,
      'text-secondary': currentIndex === 0
    }"
  ></i>

  <div class="slides">
    <span
      *ngFor="let day of visibleDays"
      (click)="onDayClick(day)"
      [ngClass]="{ 'bg-primary text-white': isSameDay(day, selectedDay!) }"
    >
      {{ day | date : "EEE d MMM" }}
    </span>
  </div>

  <i
    (click)="next()"
    class="bi bi-chevron-right"
    [ngClass]="{ 'text-primary': hasMoreDays, 'text-secondary': !hasMoreDays }"
  ></i>
</div>

<div *ngIf="selectedDayScreenings" class="d-flex justify-content-center">
  <ng-container *ngFor="let screening of selectedDayScreenings">
    <app-screening
      *ngIf="isScreeningVisible(screening)"
      [screening]="screening"
      (click)="selectScreening(screening)"
      [ngClass]="{
        'bg-primary text-white screening':
          (selectedScreening?.id || booking?.screening?.id) === screening.id
      }"
    >
    </app-screening>
  </ng-container>
</div>
