<div class="container mt-4">
  <ul
    class="nav nav-pills mb-3 d-flex justify-content-center w-75 mx-auto"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item flex-fill" role="presentation">
      <button
        class="nav-link active w-100 border-0"
        id="pills-cinema-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-cinema"
        type="button"
        role="tab"
        aria-controls="pills-cinema"
        aria-selected="true"
      >
        {{ "intranet-cinema" | translate }}
      </button>
    </li>
    <li
      *ngIf="userRole.id === ROLE_STAFF"
      class="nav-item flex-fill"
      role="presentation"
    >
      <button
        class="nav-link w-100"
        id="pills-opinion-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-opinion"
        type="button"
        role="tab"
        aria-controls="pills-opinion"
        aria-selected="false"
      >
        {{ "intranet-opinion" | translate }}
      </button>
    </li>
    <li
      *ngIf="userRole.id === ROLE_ADMIN"
      class="nav-item flex-fill"
      role="presentation"
    >
      <button
        class="nav-link w-100"
        id="pills-dashboard-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-dashboard"
        type="button"
        role="tab"
        aria-controls="pills-dashboard"
        aria-selected="false"
      >
        {{ "intranet-dashboard" | translate }}
      </button>
    </li>
    <li
      *ngIf="userRole.id === ROLE_ADMIN"
      class="nav-item flex-fill"
      role="presentation"
    >
      <button
        class="nav-link w-100"
        id="pills-employee-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-employee"
        type="button"
        role="tab"
        aria-controls="pills-employee"
        aria-selected="false"
      >
        {{ "intranet-employee" | translate }}
      </button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-cinema"
      role="tabpanel"
      aria-labelledby="pills-cinema-tab"
    >
      <!-- cinema-->
      <app-screenings></app-screenings>

      <!-- film-->
      <app-films></app-films>

      <!-- salle-->
      <app-auditoriums></app-auditoriums>
    </div>
  </div>

  <!-- opinion-->
  <div
    *ngIf="userRole.id === ROLE_STAFF"
    class="tab-pane fade"
    id="pills-opinion"
    role="tabpanel"
    aria-labelledby="pills-opinion-tab"
  >
    <app-opinions></app-opinions>
  </div>

  <!-- employee-->
  <div
    class="tab-pane fade"
    id="pills-employee"
    role="tabpanel"
    aria-labelledby="pills-employee-tab"
  >
    <app-employees></app-employees>
  </div>
</div>
