<div class="card">
  <div class="card-header">
    <h5>{{ "auth-password-request-title" | translate }}</h5>
    <p>{{ "auth-password-request-subtitle" | translate }}</p>
  </div>

  <div class="card-body">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">{{
          "auth-password-email" | translate
        }}</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="{{ 'auth-password-email-placeholder' | translate }}"
        />

        <!-- Messages d'erreur -->
        <div class="invalid-feedback" *ngIf="email?.hasError('required')">
          {{ "auth-password-email-required" | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="email?.hasError('email')">
          {{ "auth-password-email-invalid" | translate }}
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="resetForm.invalid"
      >
        {{ "auth-password-email-send" | translate }}
      </button>
    </form>
  </div>
</div>
