@import "../../../../src/styles/variables";

.container {
  h1 {
    display: inline-block;
    i {
      font-size: 30px;
      color: $primary !important;
    }
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 8px;
  }

  .card-header {
    flex-direction: row-reverse;
  }

  th {
    padding: 10px;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid #ddd;
  }
  td {
    padding: 10px;

    &.description {
      max-width: 350px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      font-size: 18px;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
  }

  .nb-rows {
    display: flex;
    align-items: center;

    label {
      margin-right: 5px;
    }
  }
}
