<div class="container d-flex flex-column">
  <h1 class="m-3">{{ "film-title" | translate }}</h1>

  <div class="row mb-3 align-self-center">
    <div class="d-flex col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>{{ "film-select-cinema-short" | translate }}</mat-label>
        <mat-select
          [(ngModel)]="cinemaSelectedId"
          (selectionChange)="onCinemaChange($event)"
        >
          <mat-option value="" disabled selected>
            {{ "film-select-cinema-short" | translate }}
          </mat-option>
          <mat-option *ngFor="let cinema of cinemas" [value]="cinema.id">
            {{ cinema.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>{{ "film-select-genre-short" | translate }}</mat-label>
        <mat-select
          [(ngModel)]="genreSelectedId"
          (selectionChange)="onGenreChange($event)"
        >
          <mat-option value="" disabled selected>
            {{ "film-select-genre-short" | translate }}
          </mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre.id">
            {{ genre.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>{{ "film-select-date-short" | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="dateSelected"
          (ngModelChange)="onDateChange($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="list-group">
    <div
      class="list-group-item"
      *ngFor="let film of filmsFiltered$ | async; let i = index"
    >
      <div class="row">
        <div class="d-flex col-12 col-xl-5 mb-2 mb-lg-0">
          <img
            class="img-fluid rounded w-100 h-auto object-fit-cover"
            [src]="imagesPath + film.poster"
            alt="Affiche du film"
          />
        </div>
        <div class="d-flex col-12 col-xl-7">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">
                {{ film.title }}
                <i *ngIf="film.favorite" class="bi bi-suit-heart-fill ms-3"></i>
              </h5>
              <div *ngIf="film.rating" class="rating-container">
                <bar-rating [(rate)]="film.rating" max="5" class="d-flex mb-3">
                  <i
                    *ratingActive
                    class="bi bi-star-fill"
                    style="margin: 2px; color: #edb867"
                  ></i>
                  <i
                    *ratingInactive
                    class="bi bi-star-fill"
                    style="margin: 2px; color: #d2d2d2"
                  ></i>
                </bar-rating>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ film.release_date | date : "dd MMMM yyyy" }} |
                {{ film.genres }}<br />
                Âge minimum : {{ film.age_minimum }}+
              </h6>
              <p class="card-text d-xl-block">{{ film.description }}</p>
              <div *ngIf="filmSelectedId === film.id && screenings">
                <!-- slider -->
                <app-slider
                  [screenings]="screenings"
                  (screeningSelected)="onScreeningSelected($event)"
                ></app-slider>

                <!-- bouton réserver -->
                <button
                  class="btn btn-primary"
                  [disabled]="
                    !screenings.screeningSelected && !this.booking?.screening
                  "
                  (click)="onBookingButton()"
                >
                  {{ "booking-screening" | translate }}
                </button>
              </div>

              <!-- bouton séances -->
              <div
                *ngIf="
                  film.id && (!(filmSelectedId === film.id) || !screenings)
                "
                class="btn btn-secondary mt-2"
                (click)="onScreeningsButton(film.id)"
              >
                {{ "screenings" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
