ion-content {
  --background: #f8f8f8;
}

ion-title {
  margin-top: 20px;
}

ion-select {
  padding-inline: 6px;
}

ion-item {
  --background: #fff;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ion-thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

ion-card {
  margin: 0;
  padding: 10px;
  height: 97%;
}

ion-card-header {
  display: flex;
  flex-direction: column;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 0.9em;
  color: #666;
}

ion-card-content {
  padding-top: 10px;
}

.film-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.see-more-button {
  margin-top: 10px;
  display: inline-block;
  width: auto;
  padding: 0 15px; /* Ajustez la marge intérieure pour contrôler la largeur */
}

.reservation-button {
  margin-top: 10px;
  display: flex;
  width: 150px;
  padding: 0;
}

// @media (max-width: 768px) {
//   .film-description {
//     -webkit-line-clamp: 2; /* reduce number of lines on smaller screens */
//   }

//   .reservation-button {
//     margin-top: 10px;
//     display: flex;
//     width: 150px;
//     padding: 0;
//   }
// }
