<div class="container">
  <h1>{{ 'menu-film' | translate }}</h1>

  <div class="row mb-3">
    <div class="col-md-4">
      <select
        class="form-select"
        [(ngModel)]="cinemaSelectedId"
        (change)="onCinemaChange($event)"
      >
        <option value="" disabled selected>
          {{ 'film-select-cinema-short' | translate }}
        </option>
        <option *ngFor="let cinema of cinemas" [value]="cinema.id">
          {{ cinema.name }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <select
        class="form-select"
        [(ngModel)]="genreSelectedId"
        (change)="onGenreChange($event)"
      >
        <option value="" disabled selected>
          {{ 'film-select-genre-short' | translate }}
        </option>
        <option *ngFor="let genre of genres" [value]="genre.id">
          {{ genre.name }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="openDatePicker()">
        {{ dateSelected || 'film-select-date-short' | translate }}
      </button>
    </div>
  </div>

  <div class="list-group">
    <div
      class="list-group-item"
      *ngFor="let film of filmsFiltered$ | async; let i = index"
    >
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3 mb-sm-0">
          <img
            class="img-fluid rounded"
            [src]="film.poster"
            alt="Affiche du film"
          />
        </div>
        <div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-10">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ film.release_date | date:'dd MMMM yyyy' }} | {{ film.genres
                }}<br />
                Âge minimum : {{ film.age_minimum }}+
              </h6>
              <div *ngIf="filmSelectedId === film.id && screenings">
                <app-slider
                  [screenings]="screenings"
                  (screeningSelected)="onScreeningSelected($event)"
                ></app-slider>
                <button
                  class="btn btn-primary"
                  [disabled]="!screenings.screeningSelected && !this.booking?.screening"
                  (click)="onBookingButton()"
                >
                  {{ 'booking-screening' | translate }}
                </button>
              </div>
              <p class="card-text d-none d-xl-block">{{ film.description }}</p>
              <p class="card-text d-xl-none">
                {{ film.description | slice:0:150 }}
              </p>
              <a
                href="#"
                class="card-link d-xl-none"
                (click)="seeFullDescription(film.description)"
              >
                {{ 'see-more' | translate }}
              </a>
              <button
                *ngIf="!(filmSelectedId === film.id) || !screenings"
                class="btn btn-secondary mt-2"
                (click)="onScreeningsButton(film.id)"
              >
                {{ 'screenings' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
