:host {
  height: 180px !important;
  margin: 20px;
}

.screening {
  border: 2px solid var(--bs-gray-300);
  width: 150px;
  height: 180px;

  .auditorium {
    height: 35px;
    border-bottom: 2px solid var(--bs-gray-300);
  }
}
