<div class="screening">
  <p>
    <b>{{ screening?.start_time | date:'EEEE d MMMM y' }}</b>
  </p>
  <p>{{ screening?.auditorium?.name }}</p>
  <p>
    {{ screening?.start_time | date:'HH:mm' }} - {{ screening?.end_time |
    date:'HH:mm' }}
  </p>
  <p>
    {{'auditorium-quality' | translate}} {{ screening?.auditorium?.quality }}
  </p>
  <p>{{'auditorium-price' | translate}} {{ screening?.auditorium?.price }} €</p>
  <p *ngIf="seatsSelected && seatsSelected.length > 0">
    {{'booking-seats' | translate}} :
    <ng-container>
      <span *ngFor="let seat of seatsSelected; let i = index"
        ><b>
          {{i !== 0 ? ', ' : ''}}{{ seat.number }} {{ seat.is_handi ? '(handi)'
          : ''}}
        </b></span
      >
    </ng-container>
    <!-- <ng-template #noSeats> {{ 'booking-no-seat' | translate }} </ng-template> -->
  </p>
  <p *ngIf="totalPrice">
    <b>{{'booking-price' | translate}} : {{ totalPrice }} €</b>
  </p>
</div>
