<div class="bookings-container m-5">
  <h3>{{ "space-open-bookings-title" | translate }}</h3>
  <div class="booking-card" *ngFor="let booking of space.openBookings">
    <div class="booking-info">
      <p>
        <strong>{{ "space-screening-start_time" | translate }}</strong>
        {{ booking.screening?.start_time | date : "dd MMMM yyyy" }}
      </p>
      <p>
        <strong>{{ "space-screening-film" | translate }}</strong>
        {{ booking.screening?.film?.title }}
      </p>
      <p>
        <strong>{{ "space-screening-price" | translate }}</strong>
        {{ booking.totalPrice }} €
      </p>
      <p>
        <strong>{{ "space-screening-seats" | translate }}</strong>
        {{ getSeatNumbers(booking.seats) }}
      </p>
      <p>
        <strong>{{ "space-screening-cinema" | translate }}</strong>
        {{ booking.screening?.auditorium?.cinema?.name }}
      </p>
      <p>
        <strong>{{ "space-screening-auditorium" | translate }}</strong>
        {{ booking.screening?.auditorium?.name }}
      </p>
      <button
        class="btn btn-danger"
        *ngIf="booking.id"
        (click)="deleteBooking(booking.id)"
      >
        {{ "space-screening-delete" | translate }}
      </button>
    </div>
    <img
      class="booking-poster"
      [src]="imagesPath + booking.screening?.film?.poster"
      alt="Affiche du film"
    />
  </div>

  <h2>{{ "space-closed-bookings-title" | translate }}</h2>
  <div class="booking-card" *ngFor="let booking of space.closedBookings">
    <div class="booking-info">
      <p>
        <strong>{{ "space-screening-start_time" | translate }}</strong>
        {{ booking.screening?.start_time | date : "dd MMMM yyyy" }}
      </p>
      <p>
        <strong>{{ "space-screening-film" | translate }}</strong>
        {{ booking.screening?.film?.title }}
      </p>
      <div class="rating-container">
        <p class="rating-text">
          <strong>{{ "space-screening-rating" | translate }}</strong>
        </p>
        <bar-rating
          *ngIf="booking.opinion && booking.opinion.rating"
          [(rate)]="booking.opinion.rating"
          max="5"
          class="d-flex mb-3"
        >
          <i
            *ratingActive
            class="bi bi-star-fill"
            style="margin: 2px; color: #edb867"
          ></i>
          <i
            *ratingInactive
            class="bi bi-star-fill"
            style="margin: 2px; color: #d2d2d2"
          ></i>
        </bar-rating>
      </div>

      <p>
        <strong>{{ "space-screening-price" | translate }}</strong>
        {{ booking.totalPrice }} €
      </p>
      <p>
        <strong>{{ "space-screening-seats" | translate }}</strong>
        {{ getSeatNumbers(booking.seats) }}
      </p>
      <p>
        <strong>{{ "space-screening-cinema" | translate }}</strong>
        {{ booking.screening?.auditorium?.cinema?.name }}
      </p>
      <p>
        <strong>{{ "space-screening-auditorium" | translate }}</strong>
        {{ booking.screening?.auditorium?.name }}
      </p>
      <button
        class="btn btn-primary h-auto"
        *ngIf="
          booking.screening &&
          booking.screening.film &&
          booking.screening.film.id &&
          booking.opinion &&
          booking.opinion.id
        "
        (click)="openModal(booking)"
      >
        {{ "space-film-update-rating" | translate }}
      </button>
      <button
        class="btn btn-primary h-auto"
        *ngIf="
          booking.screening &&
          booking.screening.film &&
          booking.screening.film.id &&
          !booking.opinion
        "
        (click)="openModal(booking)"
      >
        {{ "space-film-add-rating" | translate }}
      </button>
    </div>
    <img
      class="booking-poster"
      [src]="imagesPath + booking.screening?.film?.poster"
      alt="Affiche du film"
    />
  </div>
  <app-dynamic-modal-form
    *ngIf="showModal"
    [title]="title"
    [fields]="fields"
    [initialValues]="initialValues"
    (closeModal)="onModalClose($event)"
  ></app-dynamic-modal-form>
</div>
