<app-layout [pageTitle]="'Contact'">
  <ion-content>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Titre</ion-label>
          <ion-input
            type="text"
            name="name"
            [(ngModel)]="contact.titre"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input
            type="text"
            name="name"
            [(ngModel)]="contact.name"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            name="email"
            [(ngModel)]="contact.email"
            required
          ></ion-input>
          <div
            *ngIf="!isValidEmail(contact.email) && contactForm.controls['email']?.touched"
          >
            Veuillez entrer une adresse e-mail valide.
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sujet</ion-label>
          <ion-input
            type="text"
            name="subject"
            [(ngModel)]="contact.subject"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Message</ion-label>
          <ion-textarea
            name="message"
            [(ngModel)]="contact.message"
            required
          ></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button
        expand="full"
        type="submit"
        [disabled]="!contactForm.form.valid"
        >Envoyer</ion-button
      >
    </form>
  </ion-content>
</app-layout>
