<div class="card">
  <div class="card-header">
    <h5>{{ "auth-password-reset-title" | translate }}</h5>
    <p>{{ "auth-password-reset-subtitle" | translate }}</p>
  </div>

  <div class="card-body">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="password" class="form-label">{{
          "auth-password" | translate
        }}</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="{{ 'auth-password-reset-placeholder' | translate }}"
        />

        <!-- Messages d'erreur -->
        <div
          *ngIf="
            resetForm.get('password')?.invalid &&
            resetForm.get('password')?.dirty
          "
        >
          <div *ngIf="resetForm.get('password')?.hasError('minLength')">
            {{
              "auth-password-reset-length-error"
                | translate : { minLength: minLength }
            }}
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('requireUppercase')">
            {{ "auth-password-reset-uppercase-error" | translate }}
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('requireLowercase')">
            {{ "auth-password-reset-lowercase-error" | translate }}
          </div>
          <div
            *ngIf="resetForm.get('password')?.hasError('requireSpecialChar')"
          >
            {{ "auth-password-reset-specialchar-error" | translate }}
          </div>
          <div *ngIf="resetForm.get('password')?.errors?.['required']">
            {{ "auth-password-reset-required-error" | translate }}
          </div>
        </div>
      </div>

      <!-- Submit -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="resetForm.invalid"
      >
        {{ "auth-password-reset-submit" | translate }}
      </button>
    </form>
  </div>
</div>
