<div class="slider-container">
  <button
    (click)="prev()"
    class="btn"
    [ngClass]="{
      'btn-primary': currentIndex !== 0,
      'btn-secondary': currentIndex === 0
    }"
  >
    Précédent
  </button>
  <div class="slides">
    <app-screening
      *ngFor="let screening of screenings?.screenings; let i = index"
      [screening]="screening"
      [ngClass]="{
        'd-none': i < currentIndex || i >= currentIndex + visibleScreenings,
        'd-block': i >= currentIndex && i < currentIndex + visibleScreenings,
        'bg-success text-white': (selectedScreening?.id || booking?.screening?.id) === screening.id
      }"
      (click)="selectScreening(screening)"
    >
    </app-screening>
  </div>

  <button
    (click)="next()"
    class="btn"
    [ngClass]="{
      'btn-primary': currentIndex < (totalScreenings - visibleScreenings),
      'btn-secondary': currentIndex >= (totalScreenings - visibleScreenings)
    }"
    [disabled]="currentIndex >= (totalScreenings - visibleScreenings) && !booking?.screening?.id"
  >
    Suivant
  </button>
</div>
