.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;

  .slides {
    display: flex;
    transition: transform 0.3s ease;

    app-screening {
      box-sizing: border-box;
    }
  }
}
