<div class="container-fluid p-0">
  <div class="row">
    <!-- Offcanvas Sidebar -->
    <div
      class="offcanvas-lg offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header d-lg-none">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body flex-column pt-0 mt-4">
        <h5 class="offcanvas-title ms-3" id="offcanvasNavbarLabel">
          {{ "menu-app-title" | translate }}
        </h5>
        <div class="text-muted ms-3 mb-3">{{ "menu-slogan" | translate }}</div>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let page of pages$ | async">
            <a
              class="nav-link"
              [routerLink]="[page.url]"
              routerLinkActive="active"
              data-bs-dismiss="offcanvas"
              data-bs-target="#offcanvasNavbar"
            >
              <i class="bi" [ngClass]="'bi-' + page.icon"></i>
              {{ page.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <main class="col m-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <router-outlet></router-outlet>
      <footer *ngIf="cinema" class="mt-auto bg-light py-3">
        <div class="container w-50">
          <div class="row">
            <div class="col-12 text-center">
              <h5 class="mb-3">
                {{ "footer-openings-hours" | translate }}
              </h5>
              <h6>{{ cinema.name }} - {{ cinema.phone }}</h6>
              <h6>
                {{ cinema.address }} - {{ cinema.postcode }} {{ cinema.city }}
              </h6>
              <ul class="opening-hours-list">
                <li
                  *ngFor="let opening of cinema.opening_hours"
                  class="opening-hours-item"
                >
                  <span class="day">{{
                    "days." + opening.day_of_week | translate
                  }}</span>
                  <span class="hours">
                    <span *ngIf="opening.opening_time && opening.closing_time">
                      {{ formatTime(opening.opening_time) }} -
                      {{ formatTime(opening.closing_time) }}
                    </span>
                    <span
                      *ngIf="!opening.opening_time || !opening.closing_time"
                      class="text-muted"
                    >
                      {{ "footer-closed" | translate }}
                    </span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>
