<div class="modal-overlay">
  <div class="modal-content">
    <h2 mat-dialog-title>{{ title }}</h2>
    <mat-dialog-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div
          *ngFor="let field of fields"
          class="d-flex flex-column justify-content-center"
        >
          <ng-container [ngSwitch]="field.type">
            <!-- Input masked -->
            <input
              matInput
              *ngSwitchCase="'masked'"
              [formControlName]="field.name"
              [readonly]="true"
              hidden
            />

            <!-- Image -->
            <ng-container *ngSwitchCase="'image'">
              <img
                [src]="
                  field.file && form.get(field.file)?.value?.preview
                    ? form.get(field.file)?.value.preview
                    : imagesPath + form.get(field.name)?.value
                "
                alt="Poster"
              />
              <input
                *ngIf="field.file"
                type="file"
                (change)="onFileChange($event, field.file, field.name)"
                accept="image/*"
              />
            </ng-container>

            <!-- Toggle -->
            <mat-slide-toggle
              *ngSwitchCase="'toggle'"
              [formControlName]="field.name"
              class="mb-3"
            >
              {{ field.label }}
            </mat-slide-toggle>

            <!-- Other field types -->
            <mat-form-field *ngSwitchDefault appearance="fill" class="w-100">
              <mat-label>{{ field.label }}</mat-label>

              <!-- Input text -->
              <input
                matInput
                *ngIf="field.type === 'text'"
                [formControlName]="field.name"
                [readonly]="field.readonly"
              />

              <!-- Input Object -->
              <input
                matInput
                *ngIf="field.type === 'object'"
                [formControlName]="field.name"
                [readonly]="field.readonly"
              />

              <!-- Textarea -->
              <textarea
                matInput
                *ngIf="field.type === 'textarea'"
                [formControlName]="field.name"
                [readonly]="field.readonly"
              ></textarea>

              <!-- DateTime -->
              <ng-container *ngIf="field.type === 'datetime'">
                <input
                  matInput
                  type="datetime-local"
                  placeholder="Start Date"
                  [formControlName]="field.name"
                  [readonly]="field.readonly"
                />
              </ng-container>

              <!-- Select -->
              <mat-select
                *ngIf="field.type === 'select'"
                [formControlName]="field.name"
              >
                <mat-option
                  *ngFor="let option of field.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="align-self-end">
      <button mat-button (click)="cancel()">
        {{ "modal-cancel-button" | translate }}
      </button>
      <button
        mat-button
        color="primary"
        [disabled]="!form.valid"
        (click)="onSubmit()"
      >
        {{ "modal-save-button" | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
