<div class="container">
  <h1>Accueil</h1>
  <h2>En ce moment dans nos cinémas :</h2>
  <div class="list-group">
    <div class="list-group-item" *ngFor="let film of films$ | async">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3 mb-sm-0">
          <img class="img-fluid rounded" [src]="film.poster" alt="Affiche du film">
        </div>
        <div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-10">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ film.release_date | date:'dd MMMM yyyy' }} | {{ film.genres }}<br>
                Âge minimum : {{ film.age_minimum }}+
              </h6>
              <p class="card-text">{{ film.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
