@import "src/styles/_variables.scss";

.seat {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid grey;
  color: white;

  &.available {
    background-color: $success;
  }

  &.booked {
    background-color: $danger;
  }

  &.selected {
    background-color: $warning;
  }

  i {
    bottom: 0;
    position: absolute;
    right: 3px;
  }
}
