<div class="container">
  <h1>{{ 'menu-film' | translate }}</h1>

  <div class="row mb-3">
    <div class="col-md-4">
      <select
        class="form-select"
        [(ngModel)]="cinemaSelectedId"
        (change)="onCinemaChange($event)"
      >
        <option value="" disabled selected>
          {{ 'film-select-cinema' | translate }}
        </option>
        <option *ngFor="let cinema of cinemas" [value]="cinema.id">
          {{ cinema.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="list-group">
    <div
      class="list-group-item"
      *ngFor="let film of filmsFiltered$ | async; let i = index"
    >
      <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3 mb-sm-0">
          <img
            class="img-fluid rounded"
            [src]="film.poster"
            alt="Affiche du film"
          />
        </div>
        <div class="col-6 col-sm-8 col-md-9 col-lg-9 col-xl-10">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ film.release_date | date:'dd MMMM yyyy' }} | {{ film.genres
                }}<br />
                Âge minimum : {{ film.age_minimum }}+
              </h6>
              <p class="card-text d-none d-xl-block">{{ film.description }}</p>
              <p class="card-text d-xl-none">
                {{ film.description | slice:0:150 }}
              </p>
              <a
                href="#"
                class="card-link d-xl-none"
                (click)="seeFullDescription(film.description)"
              >
                {{ 'see-more' | translate }}
              </a>

              <app-slider
                *ngIf="!((!screeningSelected && !screenings) || (filmSelectedId !== film.id))"
                [screenings]="screenings"
                (screeningSelected)="onScreeningSelected($event)"
              >
              </app-slider>

              <div
                *ngIf="filmSelectedId === film.id && screeningSelected?.film_id === film.id"
                class="mt-3"
              >
                <h4>{{ 'screening-current' | translate }}:</h4>
                <app-screening
                  [screening]="screeningSelected"
                  [seatsSelected]="seatsSelected"
                  [totalPrice]="totalPrice"
                >
                </app-screening>
                <button
                  *ngIf="!showSeatsScreening && seatsSelected.length==0"
                  class="btn btn-primary"
                  [disabled]="!screeningSelected"
                  (click)="seeSeatsAvailable()"
                >
                  {{ 'booking-seats-available' | translate }}
                </button>
                <button
                  *ngIf="showSeatsScreening || seatsSelected.length>0"
                  class="btn btn-info"
                  (click)="validateBooking()"
                >
                  {{ 'booking-validate' | translate }}
                </button>
              </div>

              <button
                *ngIf="(!screeningSelected && !screenings) || (filmSelectedId !== film.id)"
                class="btn btn-secondary mt-2"
                (click)="getFilmScreeningsByCinema(film.id, cinemaSelectedId)"
              >
                {{ 'screenings' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row mt-3"
        *ngIf="showSeatsScreening || seatsSelected.length > 0"
      >
        <div class="col-12 offset-xl-2 col-xl-10">
          <div
            class="card"
            *ngIf="filmSelectedId === film.id && screeningSelected"
          >
            <div class="card-body">
              <h5 class="card-title">{{ 'seat-available' | translate }}</h5>
              <div *ngIf="seats$ | async as seats" class="d-flex flex-wrap">
                <app-seat
                  *ngFor="let seat of seats.seats"
                  [seat]="seat"
                  [isSelected]="isSeatSelected(seat)"
                  class="m-1"
                  (click)="onSeatSelected(seat)"
                >
                </app-seat>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
