.slider-container {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

ion-content {
  --background: #f8f8f8;
}

ion-title {
  margin-top: 20px;
}

ion-select {
  padding-inline: 6px;
}

ion-item {
  --background: #fff;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ion-thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

ion-card {
  margin: 0;
  padding: 10px;
  height: 97%;
}

ion-card-header {
  display: flex;
  flex-direction: column;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 0.9em;
  color: #666;
}

ion-card-content {
  padding-top: 10px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

ion-col {
  min-width: calc(
    10 * (20px + 10px)
  ); /* 20px pour la largeur minimale du siège + 10px pour les marges */
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.seat-item {
  flex-basis: calc(10% - 10px);
  margin: 5px;

  &.booking {
    background-color: orange;
  }
}

.seat {
  border: 1px solid grey;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  min-width: 20px;
  max-width: 50px;
}

.film-description {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.see-more-button {
  margin-top: 10px;
  display: inline-block;
  width: auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  ion-col {
    min-width: 100%;
  }
}
