h1 {
  border-bottom: 1px solid var(--bs-gray-400);
  width: auto;
  padding: 1rem;
}

mat-form-field {
  min-width: auto;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

button.booking-validate,
button.booking-seat {
  height: fit-content;
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.seat-item {
  flex-basis: calc(10% - 10px);
  margin: 5px;

  &.booking {
    background-color: orange;
  }
}

.seat {
  border: 1px solid grey;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  min-width: 20px;
  max-width: 50px;
}

.film-description {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.see-more-button {
  margin-top: 10px;
  display: inline-block;
  width: auto;
  padding: 0 15px;
}

.seats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; // Espace entre les rangées
}

.seat-item {
  margin: 0 5px; // Marge horizontale entre les sièges
}

.list-group {
  --bs-list-group-border-width: none;
}
