<div class="modal-overlay">
  <div class="modal-content">
    <h2 mat-dialog-title>{{ title }}</h2>
    <mat-dialog-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of fields">
          <ng-container [ngSwitch]="field.type">
            <!-- Input masked -->
            <input
              matInput
              *ngSwitchCase="'masked'"
              [formControlName]="field.name"
              [readonly]="true"
              hidden
            />

            <!-- Toggle -->
            <mat-slide-toggle
              *ngSwitchCase="'toggle'"
              [formControlName]="field.name"
              class="mb-3"
            >
              {{ field.label }}
            </mat-slide-toggle>

            <!-- Other field types -->
            <mat-form-field *ngSwitchDefault appearance="fill" class="w-100">
              <mat-label>{{ field.label }}</mat-label>

              <!-- Input text -->
              <input
                matInput
                *ngIf="field.type === 'text'"
                [formControlName]="field.name"
                [readonly]="true"
              />

              <!-- Textarea -->
              <textarea
                matInput
                *ngIf="field.type === 'textarea'"
                [formControlName]="field.name"
              ></textarea>

              <!-- Date -->
              <ng-container *ngIf="field.type === 'date'">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="field.name"
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                  [disabled]="true"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </ng-container>

              <!-- Select -->
              <mat-select
                *ngIf="field.type === 'select'"
                [formControlName]="field.name"
              >
                <mat-option
                  *ngFor="let option of field.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()">
        {{ "modal-cancel-button" | translate }}
      </button>
      <button
        mat-button
        color="primary"
        [disabled]="!form.valid"
        (click)="onSubmit()"
      >
        {{ "modal-save-button" | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
